/*
 * File: main.css
 * Description: This file contains the main CSS styles for the website.
 * Author: Vorobey Anton
 * Version: 1.0
 * Last Modified: 27.03.2024
 */

/* 
 * Table of Contents:
 * 1. Default Styles
 * 2. Typography
 * 3. Layout
 * 4. Navigation
 * 5. Forms
 * 6. Buttons
 * 7. Images
 * 8. Utilities
 */


@font-face {
   font-family: 'Oswald Regular';
   src: url('./assets/fonts/Oswald-Regular.ttf') format('truetype');
   
}

body {
   font-family: 'Oswald Regular', sans-serif;
   
   color: var(--color-theme-dark-blue);
}

header {
   font-family: 'Oswald Regular', sans-serif;
   color: var(--color-theme-dark-blue);
}



/* 
 * 1. Default Styles
 * Description: Default default browser styles
 */
:root {


/* ----------------------------------
   @color declaration
  ------------------------------------ */



   --color-primary: #1D3557;
   --color-secondary: #F1FAEE;
   --color-success: #28a745;
   --color-info: #17a2b8;
   --color-warning: #ffc107;
   --color-danger: #dc3545;
   --color-light: #f8f9fa;
   --color-dark: #343a40;
   --color-white: #fff;
   --color-black: #000;

   /* ----------------------------------
   @color palette
  ------------------------------------ */

  --color-theme-red: #E63946;
  --color-theme-light: #F1FAEE;
  --color-theme-light-blue: #A8DADC;
  --color-theme-blue: #457B9D;
  --color-theme-dark-blue: #1D3557;



}
 .site-content {
    overflow: hidden;
 }
 

/* 
 * 2. Typography
 * Description: Styles for text and fonts
 */

/* 
 * 3. Layout
 * Description: Styles for overall layout of the website
 */

.header-area {
	background-color: var(--color-theme-light-blue);
}

 .hero-section {
       background-color: var(--color-theme-light-blue); 
      padding: 200px 0 50px;
      z-index: 1;
      overflow: hidden;
      position: relative;
	  background-color: var(--color-theme-light-blue);
 }


 .wave-transition {
	aspect-ratio: 960/200;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
 }


 .transition-layer-1 {
	background-image: url('/assets/img/wave-transition-1.svg');
 }
 
 .transition-layer-2 {
	background-image: url('/assets/img/wave-transition-2.svg');
 }

 .about-section {
	padding: 0px 0 50px;
	z-index: 1;
	overflow: hidden;
	position: relative;
	background-color: var(--color-theme-light);
 }

 .skills-section {
	padding: 50px 0 50px;
	z-index: 1;
	overflow: hidden;
	position: relative;
	background-color: var(--color-theme-blue);
	color: var(--color-theme-light);
 }
 
.skill-item {
	padding: 30px 0px;
	margin: 0px 0px 30px;
	/* border: solid var(--color-theme-dark-blue);
	border-radius: 0px; */
}
.skill-description-box {
	display:flex;
  	align-self:flex-start;
}


/* 
 * 4. Navigation
 * Description: Styles for navigation menus and links
 */

.nav-link{
	color: var(--color-theme-dark-blue);
}
.nav-link:hover{
	color: var(--color-theme-blue);
}
/* 
 * 5. Forms
 * Description: Styles for form elements
 */

/* 
 * 6. Buttons
 * Description: Styles for buttons and button-like elements
 */

 .m-btn-secondary {
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
	color: var(--color-theme-dark-blue);
	border-radius: 50px;
	padding: 17px 35px;
	border: 1px solid var(--color-theme-dark-blue);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	letter-spacing: 1px;
}
.m-btn-secondary:hover {
	background: var(--color-theme-red);
	color: var(--color-theme-light);
}

/* 
 * 7. Images
 * Description: Styles for images and media
 */

.logo-img{
	max-width: 160px;
	width: 100%;
	margin-right: 35px;
}


.hero-img-box {
	background-image: url('/assets/img/stock-bg.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


.about-me-image-box img {
	/* border-radius: 38px; */
	-webkit-transform: rotate(4.29deg);
	-ms-transform: rotate(4.29deg);
	transform: rotate(4.29deg);
	position: relative;
	/* border: 2px solid var(--color-primary); */
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.about-me-image-box img:hover {
	/* border: 2px solid var(--color-primary); */
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
}
.about-me-image-box:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 220px;
	height: 220px;
	/* border-radius: 50%; */
	background: var(--color-primary);
	background: -o-linear-gradient(
		190deg,
		var(--color-primary) 0%,
		rgba(115, 67, 210, 0) 100%
	);
	background: linear-gradient(
		260deg,
		var(--color-primary) 0%,
		rgba(115, 67, 210, 0) 100%
	);
	-webkit-filter: blur(150px);
	filter: blur(150px);
	margin-left: -5%;
	margin-bottom: -5%;
}

.personal-photo {
	max-width: 300px;
	max-height: 400px;
	object-fit: contain;
	border-radius: 20%;
}


.skill-logo{
	width: 80px;
	height: 80px;
	padding-bottom: 10px;
}

/* 
 * 8. Utilities
 * Description: Utility classes and helper styles
 */

.progress-bar{
	background-color: var(--color-theme-dark-blue);
}
.progress {
	background-color: var(--color-theme-light);
}

